.navigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #f7f7f7;
    border-bottom: 1px solid black;
    width: 100%;
}

.navigationItem {
    float: left;
}

li a:hover:not(.active) {
    background-color: #d2d2d2;
}

.navigationLink {
    display: block;
    color: black;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #f7f7f7;
    border: dotted black 1px;
}

.titlePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f7f7f7;
    background: radial-gradient(circle,rgba(247, 247, 247, 1) 0%, rgba(190, 190, 209, 1) 100%);
    border-bottom: 1px solid black;
    
}

.adelyn {
    font-family: rig-solid-bold-reverse, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    margin-bottom: auto;
}

.verticalLine {
    height: 400px;
    width:0px;
    border: 1.5px solid black;
    margin: 3px;
}

.pierce {
    font-family: rig-solid-bold-reverse, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    margin-top: auto;
}

.textDetail {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

body {
    background: #f7f7f7;
}

h1 {
    font-family: rig-solid-bold-reverse, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
}

p {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
   Hide Extension Name in the identity area unless
   hovered for half a second (updated for Fx80)
*/
#identity-box.extensionPage #identity-icon-labels,
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important;
  transition: visibility 250ms ease-in-out;
}
#identity-box.extensionPage:hover #identity-icon-labels,
#identity-box.extensionPage:hover #identity-icon-label {
  visibility: visible !important;
  transition: visibility 250ms ease-in-out 500ms;
}