.navigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: azure;
    border-bottom: 1px dotted black;
}

.navigationItem {
    float: left;
}

li a:hover:not(.active) {
    background-color: #64dece
}

.navigationLink {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #04AA6D;
}

.titlePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.adelyn {
    font-family: rig-solid-bold-reverse, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    margin-bottom: auto;
}

.verticalLine {
    height: 400px;
    width:0px;
    border: 1.5px solid black;
    margin: 3px;
}

.pierce {
    font-family: rig-solid-bold-reverse, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    margin-top: auto;
}

p {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}