body {
    margin: 0%;
    
}
.navigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #f7f7f7;
    border-bottom: 1px solid black;
    width: 100%;
    position: sticky;
    top: 0;
}

.navigationItem {
    float: left;
}

li a:hover:not(.active) {
    background-color: #d2d2d2;
}

.navigationLink {
    display: block;
    color: black;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #f7f7f7;
    border: dotted black 1px;
}

.titlePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f7f7f7;
    background: radial-gradient(circle,rgba(247, 247, 247, 1) 0%, rgba(190, 190, 209, 1) 100%);
    border-bottom: 1px solid black;
    
}

/*.adelyn {
    font-family: "obliqua", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 125px;
    margin-bottom: auto;
}*/

.adelyn {
    font-size: 0;
}

.titleHeadliner {
    font-size: 0;
}

.adelyn span {
    font-size: 125px;
    font-family: "obliqua", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pierce {
    font-size: 0;
    margin-top: auto;
}

.pierce span {
    font-size: 125px;
    font-family: "obliqua", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.key {
    transition: transform 0.2s;
    display: inline-block;
}

/* Learned this animation juxtopossed on codepen */
@keyframes pressDown1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown7 {
    10%,
    20%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown8 {
    35%,
    45%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
  }
  
  .titleHeadliner {
    font-size: 0;
    text-align: center;

}

.titleHeadliner span {
    font-size: 125px;
    font-family: "obliqua", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
  
  .key:nth-child(1) {
    animation: pressDown1 2s infinite;
  }
  
  .key:nth-child(2) {
    animation: pressDown2 3s infinite;
  }
  
  .key:nth-child(3) {
    animation: pressDown3 4s infinite;
  }
  
  .key:nth-child(4) {
    animation: pressDown4 2.5s infinite;
  }
  
  .key:nth-child(5) {
    animation: pressDown5 2.5s infinite;
  }
  
  .key:nth-child(6) {
    animation: pressDown6 3.5s infinite;
  }

.verticalLine {
    height: 300px;
    width:0px;
    border: 1.5px solid black;
    margin: 3px;
}

.textDetail {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

h1 {
    /*font-family: rig-solid-bold-reverse, sans-serif;
    font-weight: 700;
    font-style: normal;*/
    font-family: "ivypresto-headline", serif;
    font-weight: 700;
    font-style: normal;

}

p {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 800px;
    margin: auto;
    padding: 20px;

}

.textDetail {
    background-color: #f7f7f7;
}

/*
   Hide Extension Name in the identity area unless
   hovered for half a second (updated for Fx80)
*/
#identity-box.extensionPage #identity-icon-labels,
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important;
  transition: visibility 250ms ease-in-out;
}
#identity-box.extensionPage:hover #identity-icon-labels,
#identity-box.extensionPage:hover #identity-icon-label {
  visibility: visible !important;
  transition: visibility 250ms ease-in-out 500ms;
}